
{{#unless this.individual}}
    <div class="container">
        <section class="wrapUp-section">
            <img class="d-block mx-auto mt-4 mb-4" src="/images/wizard1.png" alt="logo" width="80" height="auto">
            <h4 class="text-center mt-4">Wrap Up</h4>
            <div class="center-form mx-auto text-center">
                <form class="wrapUp-form" method="POST">

                    <div class="form-group">
                        <label for="firstName" class="form-label mt-4">First name:</label>
                        <input type="text" id="firstName" name="firstName" class="form-control narrow-input"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="form-label mt-4">Last name:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control narrow-input" required>
                    </div>

                    <div class="form-group">
                        <label for="birthdate" class="form-label mt-4">Birthdate:</label>
                        <input type="date" id="birthdate" name="birthdate" class="form-control narrow-input"
                                required>
                    </div>

                    <div class="form-group">
                        <label for="gender" class="form-label mt-4">Biological gender:</label>
                        <select id="gender" name="gender" class="form-select narrow-input" required>
                            <option value="" disabled selected>Choose...</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>

                    <div class="form-group mt-4">
                        <label for="weight">Weight (kg):</label>
                        <input type="number" id="weight" name="weight" placeholder="Enter weight in kg" class="form-control narrow-input" min="1" max="300"
                               required>
                    </div>

                    <div class="form-group mt-4">
                        <label for="height">Height (cm):</label>
                        <input type="number" id="height" name="height" placeholder="Enter height in cm" class="form-control narrow-input" min="1" max="250"
                               required>
                    </div>

                    <div class="form-group mt-4">
                        <label for="weightGoal">Weight goal (kg):</label>
                        <input type="number" id="weightGoal" name="weightGoal" placeholder="Enter weight goal in kg" class="form-control narrow-input" min="1"
                               max="300" required>
                    </div>

                    <div class="form-group mt-4">
                        <label for="activityLevel">Activity level:</label>
                        <select id="activityLevel" name="activityLevel" class="form-control narrow-input" required>
                            <option value="" disabled selected>Choose...</option>
                            <option value="MOSTLY_SEDENTARY">Mostly sedentary (Little or no exercise)</option>
                            <option value="SOMEWHAT_SEDENTARY">Somewhat sedentary (Light exercise or sports 1-3 days a
                                week)
                            </option>
                            <option value="SOMEWHAT_ACTIVE">Somewhat active (Moderate exercise or sports 3-5 days a week)
                            </option>
                            <option value="MODERATELY_ACTIVE">Moderately active (Hard exercise or sports 6-7 days a week)
                            </option>
                            <option value="VERY_ACTIVE">Very active (Very hard exercise and physical job)</option>
                        </select>
                    </div>

                    <div class="form-group mt-4">
                        <label for="typeOfDiet">Type of diet:</label>
                        <select id="typeOfDiet" name="typeOfDiet" class="form-control narrow-input" required>
                            <option value="" disabled selected>Choose...</option>
                            <option value="LOW_CARB">Low-carb</option>
                            <option value="MEDITERRANEAN">Mediterranean</option>
                            <option value="BETTER_BODY">Better body</option>
                        </select>
                    </div>

                    <div class="form-group mt-4">
                        <label for="allergies">Ingredients You're Allergic To:</label>
                        <textarea id="allergies" name="allergies" class="form-control" rows="4"></textarea>
                    </div>


                    <div class="button-container mt-4">
                        <button type="submit" class="btn btn-primary btn-lg px-2 mb-4 me-sm-3 fw-bold">Submit</button>
                    </div>

                </form>
            </div>
        </section>
    </div>
    <script src="/js/wrapUp.js"></script>
{{else}}
    <!-- Profile Section Container -->
    <div class="container-fluid mt-5">
        <div class="row align-items-center">

            <!-- Profile Picture -->
            <div class="col-md-3 text-center">
                <img src="/images/profile/profile{{this.user_id}}.jpeg" alt="User Profile Picture" class="rounded-circle" width="150">
                <button class="btn btn-outline-secondary mt-3">Change Picture</button>
            </div>

            <!-- User Details -->
            <div class="col-md-9">
                <h2>HELLO! {{this.individual.first_name}} {{this.individual.last_name}}</h2>
                <p class="text-muted">{{this.email}}</p>
                <p>Age: {{birthdateToAge this.individual.birthday}}</p>
                <p>Gender: {{genderLowerCase this.individual.sex}}</p>
                <p>Weight: {{this.individual.weight}} kg</p>
                <p>Goal Weight: {{this.individual.weight}} kg</p>
                <!-- Edit Profile Button -->
                <!--<a href="/edit-profile" class="btn btn-primary">Edit Profile</a>-->
            </div>

            <div class="col-md-9">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                    <a href="/create-plan" class="text-white text-decoration-none">Make A New Plan</a>
                </button>
            </div>

            {{#if this.individual.plans}}
                <div class="col-md-9">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
                        <a href="/all-plans" class="text-white text-decoration-none">Get Your Plans</a>
                    </button>
                </div>
            {{/if}}

        </div>
    </div>

{{/unless}}

<script src="/js/logout.js"></script>