<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
        }

        .profile-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100vh;
        }

        .profile-list {
            list-style-type: none;
            padding: 0;
        }

        .set-profile-button {
            margin-top: 20px;
        }

        /* Add more styles as needed */
    </style>
</head>
<body>
<section class="profile-container">
    <h2>Profile Details:</h2>
    <br>
    <h5>
    <ul class="profile-list">
        <li><b>Username</b>: {{this.username}}</li>
        <li><b>Gender</b>: {{individual.sex}}</li>
        <li><b>Current Weight</b>: {{individual.weight}} kg</li>
        <li><b>Weight Goal</b>: {{plan.weight_goal}} kg</li>
        <li><b>Diet Type</b>: {{plan.diet_type}}</li>
    </ul>
    </h5>
</section>

{{#unless individual}}
    <div class="set-profile-button">
        <button type="button" class="btn btn-primary btn-lg px-4">
            <a href="/setprofile" class="text-white text-decoration-none">Set Profile</a>
        </button>
    </div>
{{/unless}}

<script src="/js/logout.js"></script>
</body>
</html>
